@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    font-family: sans-serif;
    color: black;
}
.main_container{
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
}

.items_container{
    border: 2px solid black;
    padding: 20px;
    width: 65%;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    gap: 30px;
}
.bill_container{
    border: 2px solid black;
    padding: 20px;
    width: 25%;
    border-radius: 5px;
}
.item{
    display: flex;
    
}
.item_content{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}
.item_link{
    text-decoration: none;
    outline: 0;
}
.item_title{
    color: orange;
    font-family: 'Inconsolata', monospace;
    font-size:xx-large;
}
.orderbt{
    background: rgb(75, 210, 13);
    margin: 20px 0 0 5px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 250ms;
}
.orderbt:hover{
    scale: 1.1;
    transition: 250ms;
}
.haeding{
    margin-top: 10px;
    color: rgb(60, 134, 199);
}